body{
    font-family: 'space mono';
    font-size: 24px;
    margin-left: 5%;
    margin-top: 3.7%;
}
.title{
    font-family: 'Inconsolata';
    letter-spacing: -3px;
    text-transform: uppercase;
}
.container{
    margin-bottom: 34%;
    margin-top: 10%;
    margin-right: 8%;
}
.text{
    float: right;
    width: 40.7%;
}
h1{
    font-size: 64px;
}
p{
    font-size: 24px;
    width: 65.5%;
    height: 10%;
    margin-bottom: 64px;
}
img{
    float: left;
    width: 37%;
    height: 41%;
    margin-right: 15%;

}
button{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: black;
    color: white;
    padding: 23px 43px 24px 43px;
    width: 250px; 
    
}
.name{
    text-decoration: underline;
}
.line{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: #808080;
    display: inline-block;
    width: 100%;
    text-align: center;
    left: auto;
    right: auto;
}
a{
    text-decoration: none;
    color: #808080;
}
